body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h3 {
    padding: 5%;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 7% 15%;
}
/*Sections*/
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: white;
}

/* NavBar */
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: 500;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 300;
}



/* Title */

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    padding-top: 7%;
}

.download-btn {
    margin: 5% 3% 5% 0%;
}

.iphone {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 35%;
}


/* features */

#features {
    margin: auto;
    position: relative;
}

.feature-box {
    padding: 5%;
}

.feature-icon {
    font-size: 4rem;
    color: #4e3a37;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature-title {
    padding: 5%;
    font-size: 1.5rem;
}


/* Press */
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}



/* Pricing */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}


/* Testimonal */
#testimonials {
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 1.5%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}



/* Call To Action */


#cta .container-fluid{
    padding: 0%;
}
#end-statement {
    font-weight: 900;
    font-size: 2rem;
    margin: 0 auto;
    width: 70%;
    line-height: 2;
    padding: 5%;
}

.foot-btn {
    margin-top: 10px;
}


/* Footer */
#footer .container-fluid{
    background-color: white;
    padding: 3%;
}
.foot-icon {
    margin: 3rem 1rem;
}


/* Mobile-optimization */

@media (max-width: 1024px) {
    .iphone {
        position: static;
        transform: rotate(0deg);
    }

    #title .container-fluid {
        text-align: center;
    }

    .testimonial-text {
        font-size: 1.5rem;
    }

    .big-heading {
        font-size: 3rem;
    }

    #cta {
        font-size: 1.5rem;
    }
    #pricing{
        padding: 100px 20px;
    }
    .container-fluid {
        padding: 7% 10%;
    }    
}
