#title {
    background-color: #ff4c68;
    color: #fff;
}
#cta{
    text-align: center;
    background-color: #ff4c68;
}
#features {
    padding: 7% 20% 7%;
    margin: auto;
    background-color: white;
    position: relative;
}
#footer{
    background-color: white;
    text-align: center;
    padding: 3%;
}
#end-statement{
    font-family: "Montserrat";
    font-weight: 900;
    color: white;
    font-size: 2rem;
    margin: 0 auto;
    width: 50%;
    line-height: 2;

}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#pricing {
    padding: 100px;
    text-align: center;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}


body {
    font-family: "Montserrat";
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

h3 {
    padding: 5%;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

.carousel-item {
    padding: 7% 20%;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.download-btn {
    margin: 5% 3% 5% 0%;
}
.foot-btn{
    margin-top: 10px;
}
.featcon {
    font-size: 4rem;
    color: #4e3a37;
    margin-bottom: 1rem;
}

.f-icon:hover {
    color: #ff4c68;
}

.feature-box {
    text-align: center;
    padding: 5%;
}
.foot-icon{
    margin: 3rem 1rem;
}
.iphone {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 35%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: 500;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 300;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;

}

.pricing-column{
    padding: 3% 2%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 1.5%;
}

@media (max-width: 1024px){
    .iphone{
        position: static;
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }
}